name: "Quarkus ecosystem CI"
on:
  watch:
    types: [started]
  workflow_dispatch:
  # For this CI to work, 'ECOSYSTEM_CI_TOKEN' needs to contain a GitHub token with rights to close the Quarkus issue that the user/bot has opened,
  # while 'ECOSYSTEM_CI_REPO_PATH' needs to be set to the corresponding path in the 'quarkusio/quarkus-ecosystem-ci' repository
env:
  ECOSYSTEM_CI_REPO: quarkusio/quarkus-ecosystem-ci
  ECOSYSTEM_CI_REPO_FILE: context.yaml
  JAVA_VERSION: 21
  #########################
  # Repo specific setting #
  #########################
  ECOSYSTEM_CI_REPO_PATH: quarkus-hilla
  # The setup-and-test script assumes the property within pom.xml that determines the
  # quarkus version is called "quarkus.version".
  # Use this env var to override the property to something else
  # (like "quarkus.platform.version" for example)
  QUARKUS_VERSION_POM_PROPERTY: quarkus.version
jobs:
  quarkus-main:
    name: "Build against latest Quarkus main snapshot"
    runs-on: ubuntu-latest
    if: github.actor == 'quarkusbot' || github.event_name == 'workflow_dispatch'
    steps:
      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.QUARKUS_HILLA_BOT_ID }}
          private_key: ${{ secrets.QUARKUS_HILLA_BOT_PRIVATE_KEY }}
      - name: Install yq
        uses: dcarbone/install-yq-action@
      - name: Set up Java
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          path: current-repo
      - name: Checkout Ecosystem
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: ${{ env.ECOSYSTEM_CI_REPO }}
          path: ecosystem-ci
      - uses: browser-actions/setup-chrome@v2
        id: setup-chrome
        if: ${{ !vars.QH_DISABLE_CHROME_INSTALL }}
        with:
          chrome-version: stable
      - name: Setup and Run Tests
        run: ./ecosystem-ci/setup-and-test
        env:
          ECOSYSTEM_CI_TOKEN: ${{ steps.generate-token.outputs.token }}
          SELENIDE_BROWSER_BINARY: ${{ steps.setup-chrome.outputs.chrome-path }}
