name: Snapshots Validation
on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'
jobs:
  snapshot-main:
    name: "Quarkus-Hilla"
    strategy:
      fail-fast: false
      matrix:
        branch: [main, "25.0", "24.9"]
        java: [17, 21, 25]
        exclude:
          - branch: main
            java: 17
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: ./.github/actions/run-validation
        with:
          ref: ${{ matrix.branch }}
          java_version: ${{ matrix.java }}
          hilla_version: ${{ matrix.branch }}-SNAPSHOT
          skip_install_chrome: ${{ vars.QH_DISABLE_CHROME_INSTALL }}
